<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="adr" class="org.intellij.myspring.core.autowire.Adress" >
        <constructor-arg index="0" value="my street 2"/>
        <constructor-arg index="1" value="my city 2"/>
    </bean>
    <bean id="adress"  class="org.intellij.myspring.core.autowire.Adress" >
        <constructor-arg index="0" value="my street 2"/>
        <constructor-arg index="1" value="my city 2"/>
    </bean>

<!--    <bean id="person"  class="org.intellij.myspring.core.autowire.Person" autowire="byName">-->
<!--        <property name="id" value="1"/>-->
<!--        <property name="name" value="jhon"/>-->
<!--        <property name="lastName" value="doe"/>-->
<!--    </bean>-->


    <bean id="person"  class="org.intellij.myspring.core.autowire.Person" autowire="constructor">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="jhon"/>
        <constructor-arg index="2" value="mdoe"/>
    </bean>
</beans>